<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="elemento-b">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <table border="1"> 
      <thead>
        <th>titulo 1</th>
        <th>titulo 2</th>
        <th>titulo 3</th>
      </thead>
      <tbody>
        <tr>
          <td>hola</td>
          <td>ksks</td>
          <td>lsls</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>ksks</td>
          <td>lsls</td>
        </tr>
        <tr>
          <td>hola</td>
          <td>ksks</td>
          <td>lsls</td>
        </tr>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * `elemento-b`
     * elemento-b
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementoB extends Polymer.Element {
      static get is() { return 'elemento-b'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'elemento-b'
          }
        };
      }
    }

    window.customElements.define(ElementoB.is, ElementoB);
  </script>
</dom-module>
